<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AppointmentsManager.WpfApp.Properties.Settings.client_schedule"
            connectionString="Host=localhost;Port=3306;Database=client_schedule;Username=sqlUser;Password=Passw0rd!" />
    </connectionStrings>
</configuration>